@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} 

body {
    background: var(--Light-blue-light-blue-100, #F3F5FC);
}

.main-container{
    display: flex;
    justify-content: space-evenly;
}

.cabecalho {
    display: flex;
    padding: 1%;
}

.cabecalho img {
    max-width: 10.87rem;
    max-height: 2.12rem;
    width: auto;
    height: auto;
}

.container-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    align-items: center;
    width: 40.87rem;
    height: 465px;
    font-size: 80%;
    
    }

    .container-input textarea {
        background: var(--Light-blue-light-blue-100, #F3F5FC);
        color: var(--Dark-blue-dark-blue-300, #0A3871);
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 2rem;
        width: 25.25rem;
        height: 17rem;
        resize: vertical;
        outline: none;   
        border-radius: 8px;
        border: solid 3px var(--Dark-blue-dark-blue-300, #0A3871);
        
    }

#input-texto::placeholder {
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    font-weight: 350;
}

.container-texto-criptografado{
    display: flex;
    flex-direction: column;
    width: 14.99rem;
    height: 30.87rem;
    border-radius: 1.10rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    background-color: white;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 3%;
    }

.container-texto-criptografado img {
    max-width: auto;
    max-height: auto;
    width: 12.55rem;
    height: auto;
    box-shadow: 0 2px 1px -2px;
    margin-top: -80%;
}

.container-texto-criptografado h1{
    font-size: 1.09rem;
    margin-top: -50%;
    
}

.container-texto-criptografado span {
    text-align: center;
    margin-top: 100%;
    font-size: 0.80rem;
    }

.container-texto-criptografado h1, span, p {
    color: var(--Gray-gray-400, #495057);
    opacity: 0.8;
}

.container-texto-criptografado p {
    margin-top: 10%;
    text-align: center;
    font-size: 1.56rem;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.62rem;
}

.output textarea {
    width: 6.25rem;
    height: 6.25rem;
    margin-top: -10%;
    margin-top: 6.25rem;
}

.botao {
    display: flex;
    justify-content: center;
    width: 12rem;
    padding: 0.39rem;
    gap: 0.62rem;
    border-radius: 0.50rem;    
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    color: white;
    font-size: 0.83rem;
    border: solid 1px var(--Dark-blue-dark-blue-300, #0A3871);
    
}

.botao:hover {
    background: white;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    border: solid 1px var(--Dark-blue-dark-blue-300, #0A3871);
}

button:disabled {
    background-color: gray;
    border: solid 1px gray;
}

button:disabled:hover {
    background-color: gray;
    color: white;
    border: solid 1px gray;
}

#texto-secreto {
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    font-size: 1.56rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25rem;
    width: 12.50rem;
    border: none;
    margin: 0.93rem;
    outline: 0;
    text-transform: lowercase;
    resize: none;
}

.botoes {
    margin-bottom: 7.12rem;
    display: flex;
    gap: 1rem;   
    
}

.botao-copiar {
    display: none;
    justify-content: center;
    width: 12rem;
    padding: 0.39rem;
    gap: 0.62rem;
    border-radius: 0.50rem;    
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    color: white;
    font-size: 0.83rem;
    border: solid 1px var(--Dark-blue-dark-blue-300, #0A3871);
}

.botao-copiar:hover {
    background: white;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    border: solid 1px var(--Dark-blue-dark-blue-300, #0A3871);
}

#criptografar:disabled {
    cursor: not-allowed;
}

#descrip:disabled {
    cursor: not-allowed;
}


footer {
    background: var(--Light-blue-light-blue-100, #F3F5FC);
    height: auto;
    width: 100%;
    padding-top: -100px;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    margin-top: -27px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 31.25rem;
    line-height: 0.1rem;
    font-size: 0.67rem;
}

.redes-sociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.redes-sociais li{
    margin: 0 10px;
}

.redes-sociais a{
    text-decoration: none;
    color: #000;
}

.redes-sociais a{
    font-size: 1.70rem;
    transition: color .4s ease;
}

.redes-sociais a:hover{
    color: var(--Dark-blue-dark-blue-300, #0A3871);
}

@media (max-width: 1200px) {
    .main-container {
        flex-direction: column;
        align-items: center;

    }

    .cabecalho {
        display: flex;
        padding: auto;
    }
    

    .container-input {
        margin-top: auto;
        font-size: 70%;
        line-height: 0.90rem;
        height: 18.25rem;
        resize: vertical;
        border: none;
        outline: none; 
        justify-content: center;
    }

    .container-input textarea {
        width: 18rem;
        height: 11rem; 
        font-size: 20px;
        border-radius: 8px;
        border: solid 3px var(--Dark-blue-dark-blue-300, #0A3871);
       
    }

    .container-texto-criptografado {
        width: 700px;
        height: auto;
        margin: -75px;
        display: flex;
        border-radius: 18px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        background-color: white;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        
    }

    .container-texto-criptografado img {
        max-width: auto;
        max-height: auto;
        margin-top: -1%;
        width: 400px;
        height: auto;
        box-shadow: 0 2px 1px -2px;
        justify-content: center;
    }

    .container-texto-criptografado h1 {
        font-size: 0.85rem; 
        margin-top: 20%;
        text-align: center;
        margin: 1%;
        justify-content: center;
    }

    .container-texto-criptografado span{
        font-size: 0.65rem;
        margin: 1rem;
        text-align: center;
        margin-top: 1rem;
        margin-right: 1rem;
        justify-content: center;
    }

    .container-texto-criptografado p {
        padding: 0.62rem;
        text-align: center;
        font-size: 95%;
        margin-top: 0;
        justify-content: center;
    }

    .botoes {
    display: flex;
    margin-bottom: 30px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    }

    .botao-copiar{
    display: none;
    justify-content: center;
    align-items: center;
    width: 7.10rem;
    padding: 19px;
    gap: 0.62rem;
    border-radius: 0.50rem;    
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    color: white;
    font-size: 13px;
    border: solid 1px var(--Dark-blue-dark-blue-300, #0A3871);
    }

    .botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.10rem;
    padding: 19px;
    gap: 0.62rem;
    border-radius: 0.50rem;    
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    color: white;
    font-size: 13px;
    border: solid 1px var(--Dark-blue-dark-blue-300, #0A3871);
        
    }
    
    .botao:hover {
        background: white;
        color: var(--Dark-blue-dark-blue-300, #0A3871);
        border: solid 1px var(--Dark-blue-dark-blue-300, #0A3871);
    }
    
    button:disabled {
        background-color: gray;
        border: solid 1px gray;
    }
    
    button:disabled:hover {
        background-color: gray;
        color: white;
        border: solid 1px gray;
    }

    
     footer {
        background: var(--Light-blue-light-blue-100, #F3F5FC);
        height: auto;
        width: 100%;
        
        color: var(--Dark-blue-dark-blue-300, #0A3871);
        margin-top: 90px;
    }
     .footer-content p {
        max-width: 100%;
    }
}
